* {
    padding: 0;
    margin: 0;
    position: relative;
}



body > div#react-entry-point:nth-child(1) > div#_dash-global-error-container > div > div:nth-child(3) > div:nth-child(1) > div#_dash-app-content > div.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom > div.leaflet-control-container:nth-child(2) > div.leaflet-bottom.leaflet-right:nth-child(4) > div.leaflet-control-attribution.leaflet-control {
    display: none;
}


/*

  .leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }


  */
body > div#react-entry-point:nth-child(1) > div#_dash-global-error-container:nth-child(1) > div > div:nth-child(3) > div:nth-child(1) > div#_dash-app-content > div#loading-layout > div.mantine-Paper-root.mantine-gnkb3v > div:nth-child(2) > div.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom > div.leaflet-control-container:nth-child(2) > div.leaflet-top.leaflet-left:nth-child(1) > div.leaflet-control-zoom.leaflet-bar.leaflet-control {
    position: fixed;
    bottom:100px;
    left:50px;
    z-index:10;
}

body > div#react-entry-point:nth-child(1) > div#loading-layout:nth-child(1) > div.mantine-Paper-root.mantine-gnkb3v > div:nth-child(2) > div.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom > div.leaflet-control-container:nth-child(2) > div.leaflet-top.leaflet-left:nth-child(1) > div.leaflet-control-zoom.leaflet-bar.leaflet-control {
    position: fixed;
    bottom:100px;
    left:50px;
    z-index:10;
}



html *
{
   font-family: Roboto !important;
}

/*
.accordion_item {
    box-shadow: rgba(0,0,255, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
*/


.mantine-Slider-label {
    font-weight: bold;
}

.control-col {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 10px;
    position: sticky;
    top: 2rem;
    height: 100vh;
}

.header-text-col {
    float: left;
    vertical-align: middle;
}

.logo-col {
    max-width: 150px;
    margin-top: 5px;
    float: right;
    vertical-align: middle;
    margin-right: 20px;
}

.td-col-chart {
    border-top: 1px solid #F5F5F5;
    width: 1260px;
    }

.tr-row-kpi {

    height: 90px;
    display: grid;
    text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border: 1px solid #0275d8;
  border-radius: 10px;
}

.btn-output-selector {
box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.btn_run {
box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}


.mantine-Drawer-header {
padding: 0 !important;
margin: 0 !important;
}

/*
.cont-output-selector {
    position: sticky !important;
    top: 2rem !important;
}
*/

.col-total-output-selector {
    vertical-align: top;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid #F5F5F5;
}

.table-output {
    cellspacing: 0;
    border-left: 1px solid #F5F5F5;
    border-collapse: collapse;
}

.btn-time-grouper {
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.div-btn-time-grouper {
    display: flex;
    justify-content: center;
}


.control-layout {
    position:absolute;
    z-index: 2;
    top:0;
    left:0;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 10px;
}

.header-layout {
    position:absolute;
    z-index: 2;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

}

body > div#react-entry-point:nth-child(1) > div#_dash-global-error-container > div > div:nth-child(3) > div:nth-child(1) > div#_dash-app-content > div#loading-layout > div.mantine-Paper-root.mantine-gnkb3v > div:nth-child(2) {
    z-index: 1;
    position:relative;
}


body > div#react-entry-point:nth-child(1) > div#loading-layout:nth-child(1) > div.mantine-Paper-root.mantine-gnkb3v > div:nth-child(2) {
z-index: 1;
    position:relative;
}


/*
body > div#react-entry-point:nth-child(1) > div#_dash-global-error-container > div > div:nth-child(3) > div:nth-child(1) > div#_dash-app-content > div#loading-layout > div.mantine-Paper-root.mantine-gnkb3v > div:nth-child(2) > div.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
    z-index: 1;
    position:relative;
}
*/

.drawer-layout {
top: 100px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
border-radius: 15px 0px 0px 0px;
border: none;
padding-left: 30px;
padding-right: 30px;
}

.drawer-fig-layout {
border: 1px solid #0275d8;
border-radius: 10px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

.ag-theme-alpine {
height: 80vh !important;
padding-top: 20px;
}

  .ag-theme-alpine.compact {
    --ag-grid-size: 4px;
}

.result-layout-a {
overflow: auto;
height: 75vh;
margin-top: 20px;
}

.accordion-box {
background: #FFFFFF;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.marker-map {
font-size: 14pt;
font-weight: bold;
}